Repository Shashank78351/sample_ecomm: changes, and which Jenkins stages are due for each by the changed paths.
All: Docker build backend, Docker build e-commerce-main

Docker build backend:
          steps {
                  dir("backend"){
                      sh '''
                      docker build -t linuxappvm.eastus.cloudapp.azure.com:5050/root/e-comm-app/backend:latest .
                      '''
                  }
          }
          

Docker build e-commerce-main:
          steps {
                  sh '''
                  cd e-Commerce-main
                  docker build -t linuxappvm.eastus.cloudapp.azure.com:5050/root/e-comm-app/frontend:latest .
                  '''
              }
          

Kubernetes deployment testing
  backend/demo.txt
Due: Docker build backend

Update file db.js
  backend/db.js
Due: Docker build backend

Update file login.component.html
  e-Commerce-main/src/app/login/login.component.html
Due: Docker build e-commerce-main

Update auth.service.ts
  e-Commerce-main/src/app/services/auth.service.ts
Due: Docker build e-commerce-main

update ports and svc names
  backend/kube-backend/deployment.yml
  backend/kube-backend/service.yml
  backend/server.js
  e-Commerce-main/kube-frontend/deployment.yml
  e-Commerce-main/kube-frontend/service.yml
  e-Commerce-main/src/app/services/auth.service.ts
Due: Docker build backend, Docker build e-commerce-main

update svc name in authsvc
  e-Commerce-main/src/app/services/auth.service.ts
Due: Docker build e-commerce-main

update docker file
  e-Commerce-main/Dockerfile
Due: Docker build e-commerce-main

update svc in prd svc
  e-Commerce-main/src/app/services/product.service.ts
Due: Docker build e-commerce-main

Update file deployment.yml
  backend/kube-backend/deployment.yml
Due: Docker build backend

Update 5 files
  backend/kube-backend/deployment.yml
  backend/kube-backend/service.yml
  e-Commerce-main/kube-frontend/deployment.yml
  e-Commerce-main/kube-frontend/service.yml
  e-Commerce-main/src/app/services/product.service.ts
Due: Docker build backend, Docker build e-commerce-main

Update
  backend/kube-backend/deployment.yml
  backend/kube-backend/service.yml
  e-Commerce-main/kube-frontend/deployment.yml
  e-Commerce-main/kube-frontend/service.yml
Due: Docker build backend, Docker build e-commerce-main

remove auth
  backend/server.js
Due: Docker build backend

Update 5 files
  e-Commerce-main/Dockerfile
  e-Commerce-main/package.json
  e-Commerce-main/proxy.config.json
  e-Commerce-main/src/app/services/auth.service.ts
  e-Commerce-main/src/app/services/product.service.ts
Due: Docker build e-commerce-main

test
  e-Commerce-main/package.json
Due: Docker build e-commerce-main

Update proxy.config.json
  e-Commerce-main/proxy.config.json
Due: Docker build e-commerce-main

Update file app.module.ts
  e-Commerce-main/src/app/app.module.ts
Due: Docker build e-commerce-main

Update file app-routing.module.ts
  e-Commerce-main/src/app/app-routing.module.ts
Due: Docker build e-commerce-main

Update file Dockerfile
  e-Commerce-main/Dockerfile
Due: Docker build e-commerce-main

Update 5 files
  backend/Dockerfile
  backend/kube-backend/deployment.yml
  backend/kube-backend/service.yml
  e-Commerce-main/Dockerfile
  e-Commerce-main/kube-frontend/service.yml
Due: Docker build backend, Docker build e-commerce-main

Update file service.yml
  backend/kube-backend/service.yml
Due: Docker build backend

Update 2 files
  e-Commerce-main/src/app/services/auth.service.ts
  e-Commerce-main/src/app/services/product.service.ts
Due: Docker build e-commerce-main

Update db.js
  backend/db.js
Due: Docker build backend

Update file Jenkinsfile
  Jenkinsfile
Due: none

Path conditions:
  Docker build backend: any of: backend/**
  Docker build e-commerce-main: any of: e-Commerce-main/**
